<h3>Add Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="addEmpForm.form.valid && onSubmit()" #addEmpForm="ngForm">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName"
        #firstName="ngModel" required>
      <span class="text-danger" *ngIf="(firstName.touched || addEmpForm.submitted) && firstName.errors?.required">
        First Name is required</span>
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName"
        #lastName="ngModel" required>
      <span class="text-danger" *ngIf="(lastName.touched || addEmpForm.submitted) && lastName.errors?.required">
        Last Name is required</span>
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="emailAddress" required [(ngModel)]="employee.emailAddress"
        name="emailAddress" #emailAddress="ngModel">
      <span class="text-danger"
        *ngIf="(emailAddress.touched || addEmpForm.submitted) && emailAddress.errors?.required">Email Address is
        required</span>
    </div>

    <button type="submit" class="btn btn-success" style="margin-top: -15px;">Submit</button>
  </form>
</div>